apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: default
  annotations:
    alb.ingress.kubernetes.io/target-type: ip
spec:
  selector:
    app: backend
  ports:
  - protocol: TCP
    port: 5000      # Updated to match backend port
    targetPort: 5000  # Updated to match backend port
  type: ClusterIP  # Keep as ClusterIP since it's internal