apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: default
  annotations:
    alb.ingress.kubernetes.io/target-type: ip
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: ClusterIP  # Will be exposed via Ingress