name: Destroy AWS Infrastructure

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

jobs:
  destroy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout DevOps Code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.*

    - name: Terraform Destroy
      run: |
        cd terraform
        terraform init -input=false
        terraform destroy -auto-approve -input=false